<div class="container mx-auto p-4 bg-gray-100 transform scale-110">
  <div class="mb-4 flex items-center bg-white p-8 rounded-lg shadow-md">
    <div class="flex items-center">
      <% if @user.image_url.present? %>
        <img src="<%= @user.image_url %>" alt="<%= @user.username %>" class="rounded-full w-32 h-32 mr-6">
      <% else %>
        <div class="rounded-full w-32 h-32 mr-6 bg-gray-300"></div>
      <% end %>
      <div>
      <h1 class="text-3xl mb-2"><strong><%= @user.name %></strong></h1>
      <p class="mb-2"><strong>Email: </strong><%= @user.email %></p>
      <p class="mb-2"><strong>Phone: </strong><%= @user.phone %></p>
      <p><strong>Address: </strong><%= @address['street'] %>, <%= @address['city'] %>, <%= @address['zipcode'] %></p>
    </div>
  </div>
    <%= link_to "Detaylar", edit_user_path(@user), class: "ml-auto rounded-lg py-2 px-4 bg-blue-600 text-white font-medium text-lg hover:bg-blue-700" %>
  </div>


  <div>
    <h2 class="text-2xl font-bold mb-4 mt-0">Albüm Listesi</h2>
    <div class="shadow-md rounded-lg overflow-hidden">
      <% @albums.each do |album| %>
        <div class="bg-white shadow-md rounded-lg mb-4">
          <% photo = album['photo'] %>
          <div class="bg-white border p-4 rounded-lg mb-4 flex justify-between items-center">
            <div class="flex-shrink-0">
              <img
                src="<%= photo['url'] %>"
                alt="<%= photo['title'] %>"
                class="w-16 h-16 mr-4"
              />
            </div>
            <div class="text-left w-full">
              <h3 class="text-lg mb-1 capitalize"><%= album['title'] %></h3>
            </div>
            <button class="text-white bg-blue-600 px-4 py-2 rounded-lg hover:bg-blue-700 open-modal" data-id="<%= album['id'] %>">Detayları Gör</button>

            <div class="popupContent" id="popup-<%= album['id'] %>" style="display: none;">
              <img src="<%= photo['url'] %>" alt="<%= photo['title'] %>" class="mx-auto w-32 h-32 mb-4 rounded-full">
              <div class="text-left w-full">
                  <h3 class="mb-2 capitalize"><strong>Başlık: </strong><%= album['title'] %></h3>
                  <p class="mb-4"><strong>URL: </strong><%= photo['url'] %></p>
              </div>

              <button class="close-button bg-red-600 text-white px-2 py-1 rounded-md hover:bg-red-700" style="position: fixed; bottom: 20px">Kapat</button>
            </div>

          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>
  (function() {
    const observer = new MutationObserver(function(mutationsList, observer) {
      attachEventListeners();
    });

    observer.observe(document.body, { childList: true, subtree: true });

    function attachEventListeners() {
      const openModalButtons = document.querySelectorAll('.open-modal');
      const closeButtons = document.querySelectorAll('.close-button');
      const popups = document.querySelectorAll('.popupContent');

      openModalButtons.forEach(button => {
        button.addEventListener('click', () => {
          const id = button.getAttribute('data-id');
          const popup = document.getElementById(`popup-${id}`);

          popups.forEach(p => {
            if (p !== popup) {
              p.style.display = 'none';
            }
          });

          popup.style.display = 'block';

          const rect = button.getBoundingClientRect();
          popup.style.position = 'absolute';
          popup.style.top = `${rect.top + window.scrollY - 100}px`; // Adjusted top value
          popup.style.left = `${rect.left - popup.offsetWidth - 10}px`;
        });
      });

      closeButtons.forEach(button => {
        button.addEventListener('click', () => {
          button.closest('.popupContent').style.display = 'none';
        });
      });

      window.addEventListener('click', (e) => {
        if (!e.target.matches('.open-modal')) {
          popups.forEach(popup => {
            if (popup.style.display === 'block' && !popup.contains(e.target)) {
              popup.style.display = 'none';
            }
          });
        }
      });
    }

    // Attach event listeners to existing elements on page load
    attachEventListeners();
  })();
</script>
